body * {
	box-sizing: border-box;
}
h1, h3 {
	font-family: sans-serif;
}
.codebox {
	width: 100%;
	display: block;
	margin-bottom: 20px;
}
.codebox textarea {
	padding: 10px;
	vertical-align: top;
}
.codebox p {
	font-family: monospace;
}
.ignore p {
	color: red;
}
p.orm {
	color: green;
}


input[type="text"] {
	width: 100%;
}

.codebox.params input {
	height: 30px;

}
label {
	display: block;
}
.universal-options {
	max-width: 700px;
	margin-bottom: 20px;
}
fieldset label {
	display: inline-block;
}
button {
  font-size: 16px;
  padding: 8px;
  color: #fff;
  background: red;
}
.code, .codebox input[type='checkbox'], .codebox fieldset {
	display: inline-block;
	vertical-align: middle;
}
.code {
	width: 70%;
	word-break: break-word;
}
.codebox fieldset {
	border:none;
	width: 18%;
}
.code, .codebox input {
	margin: 0 20px 12px 0;
}
.codebox fieldset input {
	margin-right: 60px;
}
.codebox fieldset input:last-of-type {
	margin-right: 0;
}
.output-header {
	display: block;
	width: 93%;
	overflow: auto;
}
.output-header h3 {
	float: left;
}
.output-labels {
	float: right;
	font-weight: bold;
	margin-top: 20px;
	} 
.output-labels label {
	display: inline;
	margin-left: 20px;
}

