body * {
	box-sizing: border-box;
}
.code {
	width: 100%;
	display: block;
	margin-bottom: 20px;
}
.code textarea {
	padding: 10px;
	vertical-align: top;
}

input[type="text"] {
	width: 100%;
}

.code.params input {
	height: 30px;

}
label {
	display: block;
}